<div class="flex h-screen bg-gray-100">
  <!-- Sidebar Navbar -->
  <div class="fixed top-0 left-0 flex flex-col w-65 bg-gray-800 text-white-900 shadow-lg transition-all ease-in-out duration-300"
       style="width: 300px; max-height: 100vh;" [ngClass]="{'w-16': isSidebarCollapsed}">
    <div class="flex justify-between items-center h-24 p-4">
      <button (click)="toggleSidebar()" class="p-2 bg-white text-gray-800 rounded-full">
        <i class="fas" [ngClass]="{'fa-chevron-left': isSidebarCollapsed, 'fa-chevron-right': !isSidebarCollapsed}"></i>
      </button>
      <img *ngIf="!isSidebarCollapsed" src="../../../../assets/logo2.png" alt="Hospital Logo" class="w-3/4 max-w-xs">
    </div>

    <!-- Navigation Links -->
    <div class="flex flex-col space-y-4 mt-9 overflow-y-auto" style="max-height: calc(100vh - 10rem);">
      <!-- Dashboard -->
      <a routerLink="/dashboard" class="flex items-center space-x-4 py-3 px-4 rounded-md hover:bg-gray-800 text-white hover:text-white transition-all ease-in-out duration-300"
         [ngClass]="{'bg-gray-800 text-white': isActive('/dashboard')}"
         *ngIf="user?.role === 'ADMINISTRATEUR' || user?.role === 'RESPONSABLE'">
        <i class="fas fa-tachometer-alt text-xl text-white"></i>
        <span *ngIf="!isSidebarCollapsed" class="font-medium text-white">Dashboard</span>
      </a>
      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="border-t border-gray-200 my-2"></div> <!-- Separator -->

      <!-- Gestion des utilisateurs avec sous-menu -->
      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="w-full">
        <!-- Bouton principal du menu -->
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('users')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-users text-xl text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="font-medium text-white">Gestion des utilisateurs</span>
          </div>
          <i class="fas text-white" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('users'), 'fa-chevron-up': isSubmenuOpen('users')}"></i>
        </button>

        <!-- Sous-menu -->
        <div *ngIf="isSubmenuOpen('users')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <a [ngClass]="{'bg-gray-700 text-white': isActive('/utilisateurs/liste')}"
             routerLink="/utilisateurs/liste"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300">
            <i class="fas fa-user-plus text-sm text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="text-white">Liste des utilisateurs</span>
          </a>
        </div>
      </div>

      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="border-t border-gray-200 my-2"></div> <!-- Separator -->


      <!-- Gestion des véhicules avec sous-menu -->
      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="w-full">
        <!-- Bouton principal du menu -->
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('vehicules')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-car text-xl text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="font-medium text-white">Gestion des véhicules</span>
          </div>
          <i class="fas text-white" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('vehicules'), 'fa-chevron-up': isSubmenuOpen('vehicules')}"></i>
        </button>

        <!-- Sous-menu -->
        <div *ngIf="isSubmenuOpen('vehicules')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <a [ngClass]="{'bg-gray-700 text-white': isActive('/vehicules/liste')}"
             routerLink="/vehicules/liste"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300">
            <i class="fas fa-list text-sm text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="text-white">Liste des véhicules</span>
          </a>
         <!-- <a [ngClass]="{'bg-gray-800 text-white': isActive('/vehicules/categories')}"
             routerLink="/vehicules/categories"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300">
            <i class="fas fa-folder text-sm text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="text-white">Catégories des véhicules</span>
          </a>-->
        </div>
      </div>


      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="border-t border-gray-200 my-2"></div> <!-- Separator -->

      <!-- Gestion des pièces avec sous-menu -->
      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="w-full">
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('pieces')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-cogs text-xl text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="font-medium text-white">Gestion des pièces</span>
          </div>
          <i class="fas text-white" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('pieces'), 'fa-chevron-up': isSubmenuOpen('pieces')}"></i>
        </button>

        <div *ngIf="isSubmenuOpen('pieces')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <a [ngClass]="{'bg-gray-800 text-white': isActive('/pieces/liste')}"
             routerLink="/pieces/liste"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300">
            <i class="fas fa-list text-sm text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="text-white">Liste des pièces</span>
          </a>
        </div>
      </div>

      <!-- Separator -->
      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="border-t border-gray-200 my-2"></div>
      <!-- Gestion des magasins avec sous-menu -->
      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="w-full">
        <!-- Bouton principal du menu -->
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('magasins')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-warehouse text-xl text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="font-medium text-white">Gestion des magasins</span>
          </div>
          <i class="fas text-white"
             [ngClass]="{'fa-chevron-down': !isSubmenuOpen('magasins'), 'fa-chevron-up': isSubmenuOpen('magasins')}"></i>
        </button>

        <!-- Sous-menu -->
        <div *ngIf="isSubmenuOpen('magasins')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <a [ngClass]="{'bg-gray-800 text-white': isActive('/magasins/liste')}"
             routerLink="/magasins/liste"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300">
            <i class="fas fa-list text-sm text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="text-white">Liste des magasins</span>
          </a>
        </div>
      </div>
      <!-- Separator -->
      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="border-t border-gray-200 my-2"></div>

      <!-- Gestion des réservations avec sous-menu -->
      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="w-full">
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('reservations')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-calendar-check text-xl text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="font-medium text-white">Gestion des rendez-vous</span>
          </div>
          <i class="fas text-white" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('reservations'), 'fa-chevron-up': isSubmenuOpen('reservations')}"></i>
        </button>

        <div *ngIf="isSubmenuOpen('reservations')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <a [ngClass]="{'bg-gray-800 text-white': isActive('/rendezvous/liste')}"
             routerLink="/rendezvous/liste"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300">
            <i class="fas fa-list text-sm text-white "></i>
            <span *ngIf="!isSidebarCollapsed" class="text-white">Liste des rendez-vous</span>
          </a>
          <a [ngClass]="{'bg-gray-800 text-white': isActive('/historique/liste')}"
             routerLink="/rendezvous/historique/liste"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300">
            <i class="fas fa-history text-sm text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="text-white">Historique des rendez-vous</span>
          </a>
        </div>
      </div>

      <!-- Separator -->
      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="border-t border-gray-200 my-2"></div>

      <!-- Gestion des paiements avec sous-menu -->
      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="w-full">
        <button class="flex items-center justify-between w-full py-3 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300"
                (click)="toggleSubmenu('paiements')">
          <div class="flex items-center space-x-3">
            <i class="fas fa-credit-card text-xl text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="font-medium text-white">Gestion des paiements</span>
          </div>
          <i class="fas text-white" [ngClass]="{'fa-chevron-down': !isSubmenuOpen('paiements'), 'fa-chevron-up': isSubmenuOpen('paiements')}"></i>
        </button>

        <div *ngIf="isSubmenuOpen('paiements')" class="ml-6 mt-2 space-y-2 border-l-2 border-gray-300 pl-3">
          <a [ngClass]="{'bg-gray-800 text-white': isActive('/paiements/liste')}"
             routerLink="/paiements/liste"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300">
            <i class="fas fa-list text-sm text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="text-white">Liste des paiements</span>
          </a>
         <!-- <a [ngClass]="{'bg-gray-800 text-white': isActive('/paiements/factures')}"
             routerLink="/paiements/factures"
             class="flex items-center space-x-3 py-2 px-4 rounded-lg hover:bg-gray-800 hover:text-white transition-all duration-300">
            <i class="fas fa-file-invoice text-sm text-white"></i>
            <span *ngIf="!isSidebarCollapsed" class="text-white">Factures des locations</span>
          </a>!-->
        </div>
      </div>



      <!-- Separator -->
      <div *ngIf="user?.role === 'ADMINISTRATEUR'" class="border-t border-gray-200 my-2"></div>

      <!-- Settings -->
      <a routerLink="/parametres" class="flex items-center space-x-3 py-3 px-4 rounded-md hover:bg-gray-800 hover:text-white transition-all ease-in-out duration-300"
         [ngClass]="{'bg-gray-800 text-white': isActive('/parametres')}">
        <i class="fas fa-cogs text-xl text-white"></i>
        <span *ngIf="!isSidebarCollapsed" class="font-medium text-white">Paramètres</span>
      </a>
    </div>

    <!-- User Profile Section at the Bottom -->
    <div class="mt-auto px-4 py-6 border-t border-gray-200">
      <div class="flex items-center justify-between" [ngClass]="{'flex-col': isSidebarCollapsed, 'flex-row': !isSidebarCollapsed}">
        <!-- Profile Info -->
        <div class="flex items-center space-x-4" *ngIf="!isSidebarCollapsed">
          <img [src]="getImageUrl(user.urlImage)" alt="User Avatar" class="w-10 h-10 rounded-full">
          <div class="flex flex-col">
            <span class="text-sm text-white font-semibold">{{ user?.username }}</span>
          </div>
        </div>

        <!-- Logout Icon -->
        <button class="text-white-900 hover:text-red-500" (click)="confirmLogout()">
          <i class="fas fa-sign-out-alt text-2xl text-white"></i>
        </button>
      </div>
      <div class="mt-4 text-center" *ngIf="!isSidebarCollapsed">
        <span class="text-sm font-medium text-white">🔹 Connecté en tant que <strong>{{ user?.role }}</strong></span>
      </div>
    </div>
  </div>
</div>
