<div *ngIf="user">

  <div *ngIf="userUpdated" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-green-100 text-green-900 rounded-lg shadow-lg p-8 w-[90%] max-w-md text-center animate-fade-in">
      <i class="fas fa-check-circle text-4xl mb-4"></i>
      <h2 class="text-2xl font-bold mb-2">{{ successMessage }}</h2>
      <p class="text-lg">Redirection vers la page de connexion...</p>
    </div>
  </div>



  <!-- Header with image and name -->
  <div class="flex items-center gap-6 mb-8">
    <img
      [src]="getImageUrl(user?.urlImage)"
      alt="Photo de profil"
      class="w-24 h-24 rounded-full object-cover border-4 border-white shadow-md"
    />
    <div>
      <h2 class="text-3xl font-bold text-white mb-1">{{ user!.nomComplet }}</h2>
    </div>
  </div>

  <!-- User info -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-10">
    <!-- Full Name -->
    <div class="bg-gray-50 p-4 rounded-xl shadow-sm">
      <div class="flex justify-between items-center mb-1">
        <p class="text-xs text-gray-500 uppercase">Nom complet</p>
        <button class="text-gray-800 hover:text-gray-800" (click)="startEditing('nomComplet')">
          <i class="fas fa-pencil-alt"></i>  <!-- Font Awesome pencil icon -->
        </button>
      </div>
      <div *ngIf="editingField === 'nomComplet'">
        <input
          [(ngModel)]="editedValue"
          #nomInput="ngModel"
          required
          class="w-full text-black border border-gray-300 rounded-lg p-2"
        />
        <div *ngIf="(nomInput.invalid && nomInput.touched)" class="text-red-500 text-sm mt-1">
          {{ errorMessage }}
        </div>
        <button class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700" (click)="saveEdit(nomInput)">Enregistrer</button>
        <button class="text-gray-500 px-4 py-2" (click)="cancelEdit()">Annuler</button>
      </div>
      <div *ngIf="editingField !== 'nomComplet'">
        <p class="text-lg font-medium text-gray-800">{{ user!.nomComplet }}</p>
      </div>
    </div>

    <!-- Email -->
    <div class="bg-gray-50 p-4 rounded-xl shadow-sm">
      <div class="flex justify-between items-center mb-1">
        <p class="text-xs text-gray-500 uppercase">Email</p>
        <button class="text-gray-800 hover:text-gray-800" (click)="startEditing('email')">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </div>
      <div *ngIf="editingField === 'email'">
        <input
          type="email"
          [(ngModel)]="editedValue"
          name="email"
          #emailInput="ngModel"
          required
          (ngModelChange)="validateEmail(editedValue)"
          class="w-full text-black border border-gray-300 rounded-lg p-2"
        />
        <div *ngIf="(emailInput.invalid && emailInput.touched) || emailInvalid" class="text-red-500 text-sm mt-1">
          {{ errorMessage }}
        </div>
        <p *ngIf="emailTakenError" class="text-red-500 text-sm mt-1">
          Cet email est déjà utilisé.
        </p>
        <button class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 mt-2" (click)="saveEdit(emailInput)">Enregistrer</button>
        <button class="text-gray-500 px-4 py-2" (click)="cancelEdit()">Annuler</button>
      </div>
      <div *ngIf="editingField !== 'email'">
        <p class="text-lg font-medium text-gray-800">{{ user!.email }}</p>
      </div>
    </div>

    <!-- Phone -->
    <div class="bg-gray-50 p-4 rounded-xl shadow-sm">
      <div class="flex justify-between items-center mb-1">
        <p class="text-xs text-gray-800 uppercase">Numéro de téléphone</p>
        <button class="text-gray-800 hover:text-gray-800" (click)="startEditing('numeroTelephone')">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </div>
      <div *ngIf="editingField === 'numeroTelephone'">
        <input
          type="text"
          [(ngModel)]="editedValue"
          name="gsm"
          #gsmInput="ngModel"
          required
          (ngModelChange)="validateGSM(editedValue)"
          class="w-full text-black border border-gray-300 rounded-lg p-2"
        />
        <div *ngIf="(gsmInput.invalid && gsmInput.touched) || gsmInvalid" class="text-red-500 text-sm mt-1">
          {{ errorMessage }}
        </div>
        <p *ngIf="gsmTakenError" class="text-red-500 text-sm mt-1">
          Ce numéro est déjà utilisé.
        </p>
        <button class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 mt-2" (click)="saveEdit(gsmInput)">Enregistrer</button>
        <button class="text-gray-500 px-4 py-2" (click)="cancelEdit()">Annuler</button>
      </div>
      <div *ngIf="editingField !== 'numeroTelephone'">
        <p class="text-lg font-medium text-gray-800">{{ user!.numeroTelephone }}</p>
      </div>
    </div>


    <!-- Username -->
    <div class="bg-gray-50 p-4 rounded-xl shadow-sm">
      <div class="flex justify-between items-center mb-1">
        <p class="text-xs text-gray-800 uppercase">Nom d'utilisateur</p>
        <button class="text-gray-800 hover:text-gray-800" (click)="startEditing('nomUtilisateur')">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </div>
      <div *ngIf="editingField === 'nomUtilisateur'">
        <input
          [(ngModel)]="editedValue"
          name="nomUtilisateur"
          #nomUtilisateurRef="ngModel"
          required
          minlength="3"
          class="w-full text-black border rounded-lg p-2"
          [ngClass]="{ 'border-red-500': nomUtilisateurRef.touched && nomUtilisateurRef.invalid }"
        />
        <p *ngIf="nomUtilisateurRef.touched && nomUtilisateurRef.invalid" class="text-red-500 text-sm mt-1">
          Le nom d'utilisateur doit contenir au moins 3 caractères.
        </p>
        <p *ngIf="usernameTaken" class="text-red-500 text-sm mt-1">
          Ce nom d'utilisateur est déjà utilisé.
        </p>
        <button class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 mt-2" (click)="saveEdit(nomUtilisateurRef)">Enregistrer</button>
        <button class="text-gray-500 px-4 py-2" (click)="cancelEdit()">Annuler</button>
      </div>
      <div *ngIf="editingField !== 'nomUtilisateur'">
        <p class="text-lg font-medium text-gray-800">{{ user!.nomUtilisateur }}</p>
      </div>
    </div>

    <!-- Date of registration -->
    <div class="bg-gray-50 p-4 rounded-xl shadow-sm sm:col-span-2">
      <p class="text-xs text-gray-500 uppercase mb-1">Date d'inscription</p>
      <p class="text-lg font-medium text-gray-800">{{ formatDateWithIntl(user!.dateInscription) }}</p>
    </div>
  </div>

  <!-- Deactivation of account -->
  <div class="bg-red-50 border border-red-200 rounded-xl p-6 shadow-inner" *ngIf="user?.role!=='ADMIN'">
    <h3 class="text-lg font-semibold text-red-700 mb-2">Désactivation du compte</h3>
    <p class="text-sm text-red-600 mb-4">
      ⚠️ Cette action est irréversible. Une fois désactivé, votre compte ne sera pas accessible jusqu'à sa réactivation par l'administration.
    </p>
    <button (click)="openConfirmationModal()"
            class="bg-red-600 text-white px-6 py-2 rounded-md hover:bg-red-700 transition-all shadow-sm">
      <i class="fas fa-times-circle"></i> Désactiver mon compte <!-- Font Awesome deactivate icon -->
    </button>
  </div>

  <!-- Confirmation Modal -->
  <div *ngIf="showConfirmationModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-[90%] max-w-md text-center animate-fade-in">
      <h2 class="text-xl font-bold mb-4 text-gray-800">Confirmer la désactivation</h2>
      <p class="text-lg mb-4 text-gray-800">Êtes-vous sûr de vouloir désactiver votre compte ? Cette action est irréversible.</p>
      <div class="flex justify-center gap-4">
        <button (click)="onConfirmDeactivate()" class="bg-red-600 text-white px-6 py-2 rounded-md hover:bg-red-700">
          Oui, désactiver
        </button>
        <button (click)="closeConfirmationModal()" class="bg-gray-200 text-gray-800 px-6 py-2 rounded-md hover:bg-gray-300">
          Annuler
        </button>
      </div>
    </div>
  </div>

  <!-- Full-screen overlay for deactivation success -->
  <div *ngIf="deactivated" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-green-100 text-green-900 rounded-lg shadow-lg p-8 w-[90%] max-w-md text-center animate-fade-in">
      <i class="fas fa-check-circle text-4xl mb-4"></i>
      <h2 class="text-2xl font-bold mb-2">Votre compte a été désactivé.</h2>
      <p class="text-lg">Redirection vers la page de connexion...</p>
    </div>
  </div>


</div>

