<div class="flex h-screen">
  <!-- Left Side - Logo -->
  <div class="hidden md:flex w-1/2 items-center justify-center bg-gray-800" style="background-image: url('/assets/back2.png'); background-size: cover; background-position: center">
  </div>
  <div *ngIf="userAdded" class="fixed top-5 right-5 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg flex items-center space-x-3 z-50">
    <i class="fas fa-check-circle text-2xl"></i>
    <span class="font-semibold">{{ successMessage }}</span>
  </div>

  <!-- Right Side - Login Form with Background Image -->

  <div class="w-full md:w-1/2 flex items-center justify-center bg-cover bg-center">
    <div class="w-full max-w-2xl px-10 py-12 bg-white shadow-lg rounded-xl"
         style="background-color: rgba(255, 255, 255, 0.8);">
      <h2 class="text-3xl font-semibold text-center text-gray-900 mb-6">Rejoignez-nous</h2>

      <form (submit)="onSignup($event)" #userForm="ngForm" class="grid grid-cols-2 gap-6">
        <!-- Nom Complet -->
        <div class="col-span-1 relative mb-4">
          <input type="text"
                 class="w-full px-4 pt-5 pb-2 border rounded-lg focus:ring-2 focus:ring-gray-600 transition peer"
                 name="fullName"
                 [(ngModel)]="newUser.fullName"
                 placeholder=" "
                 required #fullName="ngModel">
          <label class="absolute left-4 top-2 text-gray-500 text-sm peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 transition-all">
            Nom complet <span class="text-red-500">*</span>
          </label>
          <div *ngIf="fullName.invalid && fullName.touched" class="text-red-500 text-sm mt-1">Le nom est requis.</div>
        </div>

        <!-- Nom d'utilisateur -->
        <div class="col-span-1 relative mb-4">
          <input type="text"
                 class="w-full px-4 pt-5 pb-2 border rounded-lg focus:ring-2 focus:ring-gray-600 transition peer"
                 name="username"
                 [(ngModel)]="newUser.username"
                 placeholder=" "
                 required #username="ngModel"
                 (ngModelChange)="checkUsername()">
          <label class="absolute left-4 top-2 text-gray-500 text-sm peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 transition-all">
            Nom d'utilisateur <span class="text-red-500">*</span>
          </label>
          <div *ngIf="username.invalid && username.touched" class="text-red-500 text-sm mt-1">Le nom d'utilisateur est requis.</div>
          <div *ngIf="usernameTaken" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>

        <!-- Genre -->
        <div class="col-span-1 relative mb-4">
          <select class="w-full px-4 pt-5 pb-2 border rounded-lg focus:ring-2 focus:ring-gray-600 transition peer"
                  name="gender"
                  [(ngModel)]="newUser.gender"
                  required #gender="ngModel">
            <option value="" disabled selected></option>
            <option value="MALE">Homme</option>
            <option value="FEMALE">Femme</option>
          </select>
          <label class="absolute left-4 top-2 text-gray-500 text-sm transition-all">
            Genre <span class="text-red-500">*</span>
          </label>
          <div *ngIf="gender.invalid && gender.touched" class="text-red-500 text-sm mt-1">Le genre est requis.</div>
        </div>

        <!-- Email -->
        <div class="col-span-1 relative mb-4">
          <input type="email"
                 class="w-full px-4 pt-5 pb-2 border rounded-lg focus:ring-2 focus:ring-gray-600 transition peer"
                 name="email"
                 [(ngModel)]="newUser.email"
                 placeholder=" "
                 required #email="ngModel"
                 (ngModelChange)="validateEmail(newUser.email)">
          <label class="absolute left-4 top-2 text-gray-500 text-sm peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 transition-all">
            Adresse e-mail <span class="text-red-500">*</span>
          </label>
          <div *ngIf="email.invalid && email.touched" class="text-red-500 text-sm mt-1">Un email valide est requis.</div>
          <div *ngIf="emailInvalid || emailTakenError" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>

        <!-- Numéro de téléphone -->
        <div class="col-span-1 relative mb-4">
          <input type="tel"
                 class="w-full px-4 pt-5 pb-2 border rounded-lg focus:ring-2 focus:ring-gray-600 transition peer"
                 name="phoneNumber"
                 [(ngModel)]="newUser.phoneNumber"
                 placeholder=" "
                 required #phoneNumber="ngModel"
                 (ngModelChange)="validateGSM(newUser.phoneNumber)">
          <label class="absolute left-4 top-2 text-gray-500 text-sm peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 transition-all">
            Numéro de téléphone <span class="text-red-500">*</span>
          </label>
          <div *ngIf="phoneNumber.invalid && phoneNumber.touched" class="text-red-500 text-sm mt-1">Le numéro de téléphone est requis.</div>
          <div *ngIf="gsmInvalid || gsmTakenError" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>

        <!-- Mot de passe -->
        <div class="col-span-1 relative mb-4">
          <input type="password"
                 class="w-full px-4 pt-5 pb-2 border rounded-lg focus:ring-2 focus:ring-gray-600 transition peer"
                 name="password"
                 [(ngModel)]="newUser.password"
                 placeholder=" "
                 required #password="ngModel"
                 (ngModelChange)="validatePassword(newUser.password)">
          <label class="absolute left-4 top-2 text-gray-500 text-sm peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 transition-all">
            Mot de passe <span class="text-red-500">*</span>
          </label>
          <button type="button" class="absolute right-2 top-1 text-lg" (click)="togglePasswordVisibility()">👁️</button>
          <div *ngIf="password.invalid && password.touched" class="text-red-500 text-sm mt-1">Le mot de passe est requis.</div>
          <div *ngIf="passwordInvalid" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>

        <!-- Ville -->
        <div class="col-span-1 relative mb-4">
          <select class="w-full px-4 pt-5 pb-2 border rounded-lg focus:ring-2 focus:ring-gray-600 transition peer"
                  name="city"
                  [(ngModel)]="newUser.city"
                  required #city="ngModel">
            <option value="" disabled selected>Choisissez une ville</option>
            <option *ngFor="let city of cities" [value]="city">{{ city | titlecase }}</option>
          </select>
          <label class="absolute left-4 top-2 text-gray-500 text-sm peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 transition-all">
            Ville <span class="text-red-500">*</span>
          </label>
          <div *ngIf="city.invalid && city.touched" class="text-red-500 text-sm mt-1">La ville est requise.</div>
        </div>

        <!-- Adresse -->
        <div class="col-span-1 relative mb-4">
          <label class="absolute left-4 top-2 text-gray-500 text-sm peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 transition-all">
            Adresse <span class="text-red-500">*</span>
          </label>
          <textarea class="w-full px-4 pt-5 pb-2 border rounded-lg focus:ring-2 focus:ring-gray-600 transition peer"
                    id="address"
                    [(ngModel)]="newUser.address"
                    name="address"
                    required
                    #address="ngModel"
                    placeholder=" "></textarea>
          <div *ngIf="address.invalid && address.touched" class="text-red-500 text-sm mt-1">
            L'adresse est requise.
          </div>
        </div>


        <!-- Image -->
        <div class="col-span-1 relative mb-4">
          <label for="photo" class="block text-gray-700 font-medium mb-1">Photo de profil <span>(Optionnel)</span></label>
          <input type="file" id="photo" class="hidden" (change)="onFileChange($event)">
          <label for="photo" class="cursor-pointer bg-gray-700 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600">
            Choisir un fichier
          </label>
          <div *ngIf="newUser.imageUrl" class="mt-2">
            <img [src]="newUser.imageUrl" alt="Aperçu de la photo" class="w-20 h-20 object-cover rounded-lg shadow-md">
          </div>
          <div *ngIf="imageError" class="text-red-500 text-sm mt-1">
            {{ imageError }}
          </div>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-end col-span-2 mt-4">
          <button type="submit"
                  [disabled]="loading"
                  class="w-full bg-gray-800 text-white py-3 rounded-lg hover:bg-gray-700 transition transform hover:scale-[1.02] shadow-md flex items-center justify-center">
            <span *ngIf="loading" class="animate-spin border-4 border-white border-t-transparent rounded-full w-5 h-5 mr-2"></span>
            Créer un compte
          </button>
        </div>
      </form>
      <div class="flex justify-end col-span-2 mt-4">
        <button
          routerLink="/login"
          class="w-full border border-gray-800 text-gray-800 py-3 rounded-lg hover:bg-gray-800 hover:text-white transition transform hover:scale-[1.02] shadow-md flex items-center justify-center">
          S'authentifier
        </button>
      </div>
    </div>
  </div>
</div>

