

<div *ngIf="userAdded" class="fixed top-5 right-5 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg flex items-center space-x-3 z-50">
  <i class="fas fa-check-circle text-2xl"></i>
  <span class="font-semibold">{{ successMessage }}</span>
</div>

<div *ngIf="userUpdated" class="fixed top-5 right-5 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg flex items-center space-x-3 z-50">
  <i class="fas fa-check-circle text-2xl"></i>
  <span class="font-semibold">{{ successMessage }}</span>
</div>

<div *ngIf="showAddPanel" class="fixed inset-0 flex justify-center items-center z-50 bg-black bg-opacity-50">

  <div class="bg-white p-6 rounded-xl shadow-2xl w-full max-w-4xl">
    <div class="flex justify-between items-center mb-4">
      <h4 class="text-xl font-semibold text-gray-700">Ajouter un Utilisateur</h4>
      <button class="text-lg font-bold text-gray-600" (click)="togglePanel()">X</button>
    </div>
    <form (ngSubmit)="addUser()" #userForm="ngForm">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <!-- Nom Complet -->
        <div class="mb-4">
          <label for="fullName" class="block text-gray-700 font-medium mb-1">Nom Complet <span class="text-red-500">*</span></label>
          <input type="text" id="fullName" [(ngModel)]="newUser.fullName" name="fullName" required #fullName="ngModel"
                 class="w-full py-2 px-3 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-700 bg-white text-gray-700">
          <div *ngIf="fullName.invalid && fullName.touched" class="text-red-500 text-sm mt-1">Le nom est requis.</div>
        </div>

        <!-- Email -->
        <div class="mb-4">
          <label for="email" class="block text-gray-700 font-medium mb-1">Email <span class="text-red-500">*</span></label>
          <input type="email" id="email" [(ngModel)]="newUser.email" name="email" required #email="ngModel"
                 (ngModelChange)="validateEmail(newUser.email)"
                 class="w-full py-2 px-3 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-700 bg-white text-gray-700">
          <div *ngIf="email.invalid && email.touched" class="text-red-500 text-sm mt-1">Un email valide est requis.</div>
          <div *ngIf="emailInvalid || emailTakenError" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>

        <!-- Nom d'utilisateur -->
        <div class="mb-4">
          <label for="username" class="block text-gray-700 font-medium mb-1">Nom d'utilisateur <span class="text-red-500">*</span></label>
          <input type="text" id="username" [(ngModel)]="newUser.username" name="username" required #username="ngModel"
                 (ngModelChange)="checkUsername()"
                 class="w-full py-2 px-3 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-700 bg-white text-gray-700">
          <div *ngIf="username.invalid && username.touched" class="text-red-500 text-sm mt-1">Le nom d'utilisateur est requis.</div>
          <div *ngIf="usernameTaken" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>


        <div class="mb-4 relative">
          <label for="password" class="block text-gray-700 font-medium mb-1">Mot de passe <span class="text-red-500">*</span></label>
          <input type="password" id="password" [(ngModel)]="newUser.password" name="password" required #password="ngModel"
                 (ngModelChange)="validatePassword(newUser.password)"
                 class="w-full py-2 px-3 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-700 bg-white text-gray-700"><button type="button" class="absolute right-2 top-1 text-lg" (click)="togglePasswordVisibility()">👁️</button>
          <div *ngIf="password.invalid && password.touched" class="text-red-500 text-sm mt-1">Le mot de passe est requis.</div>
          <div *ngIf="passwordInvalid" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>


        <!-- Numéro de téléphone -->
        <div class="mb-4">
          <label for="phoneNumber" class="block text-gray-700 font-medium mb-1">Numéro de téléphone <span class="text-red-500">*</span></label>
          <input type="tel" id="phoneNumber" [(ngModel)]="newUser.phoneNumber" name="phoneNumber" required #phoneNumber="ngModel"
                 (ngModelChange)="validateGSM(newUser.phoneNumber)"
                 class="w-full py-2 px-3 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-700 bg-white text-gray-700">
          <div *ngIf="phoneNumber.invalid && phoneNumber.touched" class="text-red-500 text-sm mt-1">Le numéro de téléphone est requis.</div>
          <div *ngIf="gsmInvalid" class="text-red-500 text-sm mt-1">{{errorMessage}}</div>
        </div>

        <!-- Adresse -->
        <div class="mb-4">
          <label for="address" class="block text-gray-700 font-medium mb-1">Adresse<span class="text-red-500">*</span></label>
          <textarea id="address"
                    [(ngModel)]="newUser.address"
                    name="address"
                    required
                    #address="ngModel"
                    class="w-full py-2 px-3 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-700 bg-white text-gray-700">
</textarea>
          <div *ngIf="address.invalid && address.touched" class="text-red-500 text-sm mt-1">
            L'adresse est requise.
          </div>
        </div>

        <!-- Rôle -->
        <div class="mb-4">
          <label for="role" class="block text-gray-700 font-medium mb-1">Rôle <span class="text-red-500">*</span></label>
          <select id="role" [(ngModel)]="newUser.role" name="role" required #role="ngModel"
                  class="w-full py-2 px-3 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-700 bg-white text-gray-700">
            <option value="">Sélectionnez un rôle</option>
            <option value="ADMIN">Admin</option>
            <option value="CLIENT">Client</option>
            <option value="DELIVERY_MAN">Livreur</option>
            <option value="STOREKEEPER">Magasinier</option>
            <option value="STOREKEEPER_ASSISTANT">Sous-magasinier</option>
          </select>
          <div *ngIf="role.invalid && role.touched" class="text-red-500 text-sm mt-1">
            Le rôle est requis.
          </div>
        </div>


        <!-- Genre -->
        <div class="mb-4">
          <label for="gender" class="block text-gray-700 font-medium mb-1">Genre <span class="text-red-500">*</span></label>
          <select id="gender" [(ngModel)]="newUser.gender" name="gender" required #gender="ngModel"
                  class="w-full py-2 px-3 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-700 bg-white text-gray-700">
            <option value="">Sélectionnez un genre</option>
            <option value="MALE">Homme</option>
            <option value="FEMALE">Femme</option>
          </select>
          <div *ngIf="gender.invalid && gender.touched" class="text-red-500 text-sm mt-1">Le genre est requis.</div>
        </div>

        <!-- Ville -->
        <div class="mb-4">
          <label for="city" class="block text-gray-700 font-medium mb-1">Ville <span class="text-red-500">*</span></label>
          <select id="city" [(ngModel)]="newUser.city" name="city" required #city="ngModel"
                  class="w-full py-2 px-3 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-700 bg-white text-gray-700">
          <option value="" disabled selected>Choisissez une ville</option>
            <option *ngFor="let city of cities" [value]="city">{{ city | titlecase }}</option>
          </select>
          <div *ngIf="city.invalid && city.touched" class="text-red-500 text-sm mt-1">La ville est requise.</div>
        </div>



        <!-- Image -->
        <div class="mb-4">
          <label for="photo" class="block text-gray-700 font-medium mb-1">Photo de profil (Optionnel)</label>
          <input type="file" id="photo" class="hidden" (change)="onFileChange($event)">
          <label for="photo" class="cursor-pointer bg-gray-700 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600">
            Choisir un fichier
          </label>
          <div *ngIf="newUser.imageUrl" class="mt-2">
            <img [src]="newUser.imageUrl" alt="Aperçu de la photo" class="w-20 h-20 object-cover rounded-lg shadow-md">
          </div>
          <div *ngIf="imageError" class="text-red-500 text-sm mt-1">
            {{ imageError }}
          </div>
        </div>

      </div>

      <div class="flex justify-end mt-6">
        <button type="submit" class="bg-gray-700 text-white py-2 px-4 rounded-md shadow-md hover:bg-gray-600">Ajouter</button>
      </div>
    </form>
  </div>
</div>

<div class="container mx-auto p-8">
  <div class="bg-gray-800 shadow-lg rounded-xl overflow-hidden p-6 border border-gray-600">
    <h2 class="text-2xl font-bold text-white mb-4">Gestion des Utilisateurs</h2>
    <p class="text-gray-300 text-sm mb-6">Recherchez, triez et gérez facilement tous les utilisateurs du système.</p>

    <!-- Contrôles de recherche et tri -->
    <div class="flex flex-wrap justify-start gap-4 mb-6">
      <!-- Barre de recherche -->
      <div class="flex flex-wrap justify-start gap-4 mb-6">
        <!-- Barre de recherche -->
        <div class="w-full flex flex-wrap gap-4 mt-4">
          <!-- Recherche par nom -->
          <div class="flex-1 min-w-[150px] max-w-[200px]">
            <div class="relative">
              <input
                type="text"
                [(ngModel)]="searchTerm"
                (input)="filterUsers()"
                placeholder="Rechercher"
                class="w-full py-2 px-3 border border-gray-600 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-white transition duration-200 ease-in-out"
              />
              <span class="absolute right-3 top-2 text-gray-400"><i class="fa fa-search"></i></span>
            </div>
          </div>

          <!-- Filtrer par rôle -->
          <div class="flex-1 min-w-[150px] max-w-[200px]">
            <select
              [(ngModel)]="selectedFilter"
              (change)="filterUsers()"
              class="w-full py-2 px-3 border border-gray-600 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-white transition duration-200 ease-in-out"
            >
              <option value="">Tous les rôles</option>
              <option value="ADMIN">Admin</option>
              <option value="CLIENT">Client</option>
              <option value="DELIVERY_MAN">Livreur</option>
              <option value="STOREKEEPER">Magasinier</option>
              <option value="STOREKEEPER_ASSISTANT">Sous-magasinier</option>
            </select>
          </div>

          <!-- Filtrer par activité -->
          <div class="flex-1 max-w-[170px]">
            <select
              [(ngModel)]="selectedActiveStatus"
              (change)="filterUsers()"
              class="w-full py-2 px-3 border border-gray-600 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-white transition duration-200 ease-in-out"
            >
              <option value="">Tous les statuts</option>
              <option value="active">Actifs</option>
              <option value="inactive">Inactifs</option>
            </select>
          </div>

          <!-- Trier par nom -->
          <div class="flex-1 max-w-[170px]">
            <button
              (click)="sortByName()"
              class="w-full py-2 px-3 bg-white text-gray-900 font-medium rounded-lg hover:bg-gray-800 hover:text-white transition duration-200 ease-in-out"
            >
              Trier par Nom
              <i class="fa" [ngClass]="{'fa-sort-alpha-down': isSortedAZ, 'fa-sort-alpha-up': !isSortedAZ}"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="flex space-x-4 justify-end w-full sm:w-auto">
        <button class="text-white hover:text-blue-500 transition duration-200" (click)="togglePanel()">
          <i class="fas fa-plus fa-lg"></i>
        </button>
        <button class="text-white hover:text-green-500 transition duration-200">
          <i class="fas fa-download fa-lg"></i>
        </button>
      </div>
    </div>

    <!-- User Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mt-6">
      <div *ngFor="let user of filteredUsers" class="bg-gray-700 p-6 border border-gray-600 rounded-xl shadow-lg transition-transform transform hover:scale-105 hover:shadow-xl flex flex-col justify-between min-h-[300px]">
        <!-- Image -->
        <img
          [src]="getImageUrl(user.imageUrl)"
          class="rounded-full mx-auto mb-4 border border-white"
          width="70"
          height="70"
          alt="Image indisponible"
          style="object-fit: contain; width: 100px; height: 100px;"
        >

        <!-- Nom avec troncature si trop long -->
        <h5 *ngIf="user.gender === 'MALE'" [title]="user.fullName" class="text-lg font-semibold text-center text-white truncate max-w-full">
          M. {{ user.fullName }}
        </h5>
        <h5 *ngIf="user.gender === 'FEMALE'" [title]="user.fullName" class="text-lg font-semibold text-center text-white truncate max-w-full">
          Mme. {{ user.fullName }}
        </h5>

        <!-- Rôle -->
        <p *ngIf="user.role === 'ADMIN'" class="text-gray-400 text-center truncate">Administrateur</p>
        <p *ngIf="user.role === 'CLIENT'" class="text-gray-400 text-center truncate">Client</p>
        <p *ngIf="user.role === 'DELIVERY_MAN'" class="text-gray-400 text-center truncate">Livreur</p>
        <p *ngIf="user.role === 'STOREKEEPER'" class="text-gray-400 text-center truncate">Magasinier</p>
        <p *ngIf="user.role === 'STOREKEEPER_ASSISTANT'" class="text-gray-400 text-center truncate">Sous_magasinier</p>

        <!-- Bouton -->
        <div class="mt-auto">
          <button
            (click)="viewDetails(user.id)"
            style="color: black; font-weight: bold"
            class="ml-auto flex items-center gap-2 px-4 py-2 text-sm font-medium text-white bg-gray-100 hover:bg-gray-100 active:bg-gray-100 rounded-full shadow transition duration-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2"
          >
            Voir détails
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </button>
        </div>
      </div>
    </div>
 </div>
</div>
<div *ngIf="showEditPanel" class="fixed inset-0 z-50 flex justify-end bg-gray-800 bg-opacity-50">
  <div class="bg-white w-96 h-full shadow-lg transition-transform transform translate-x-full absolute right-0 top-0 rounded-l-2xl p-8 overflow-y-auto"
       [ngClass]="{'translate-x-0': showEditPanel, 'translate-x-full': !showEditPanel}">
    <button class="absolute top-6 left-6 text-gray-600 hover:text-gray-700 text-2xl font-semibold transition-all duration-300"
            (click)="closePanel()">
      ✖
    </button>
    <h2 class="text-2xl font-semibold text-gray-800 mb-8 text-center">Détails de l'utilisateur</h2>

    <!-- User Info -->
    <div *ngIf="!isEditing" class="bg-white p-8 rounded-lg shadow-lg w-full max-w-3xl mx-auto">

      <!-- Bouton Modifier en haut -->
      <button style="max-width: 3px; padding-left:2px; margin-left: 220px" class="ml-auto bg-gray-700 text-white px-6 py-3 rounded-lg shadow-lg mb-6 transition-all duration-300 ease-in-out"
              (click)="enableEditing()">
        <i style="margin-left:4px" class="fa fa-pencil-alt mr-2"></i>
      </button>



      <!-- Image -->
      <div class="flex justify-center mb-6">
        <img [src]="getImageUrl(selectedUser?.imageUrl)"
             class="rounded-full border-4 border-gray-300 shadow-lg"
             width="120" height="120" alt="Avatar">
      </div>

      <!-- Détails de l'utilisateur -->
      <div class="space-y-6 text-gray-700">
        <p class="text-lg"><strong class="text-gray-600">Nom complet:</strong> <span class="text-gray-800">{{ selectedUser?.fullName }}</span></p>
        <p *ngIf="selectedUser?.gender === 'MALE'" class="text-lg"><strong class="text-gray-600">Sexe:</strong> <span class="text-gray-800">Homme</span></p>
        <p *ngIf="selectedUser?.gender === 'FEMALE'" class="text-lg"><strong class="text-gray-600">Sexe:</strong> <span class="text-gray-800">Femme</span></p>
        <p class="text-lg"><strong class="text-gray-600">Rôle:</strong> <span class="text-gray-800">{{ selectedUser?.role }}</span></p>
        <p class="text-lg"><strong class="text-gray-600">Nom d'utilisateur:</strong> <span class="text-gray-800">{{ selectedUser?.username }}</span></p>
        <p class="text-lg"><strong class="text-gray-600">Email:</strong> <span class="text-gray-800">{{ selectedUser?.email }}</span></p>
        <p class="text-lg"><strong class="text-gray-600">Numéro de téléphone:</strong> <span class="text-gray-800">{{ selectedUser?.phoneNumber }}</span></p>
        <p class="text-lg"><strong class="text-gray-600">Ville:</strong> <span class="text-gray-800">{{ selectedUser?.city }}</span></p>
        <p class="text-lg"><strong class="text-gray-600">Adresse:</strong> <span class="text-gray-800">{{ selectedUser?.address }}</span></p>
        <p class="text-lg"><strong class="text-gray-600">Mot de passe:</strong> <span class="text-gray-800">{{ selectedUser?.role }}</span></p>
        <p class="text-lg"><strong class="text-gray-600">Statut:</strong>
          <span class="px-4 py-2 rounded-full text-white text-sm font-medium"
                [ngClass]="{'bg-green-500': selectedUser?.active, 'bg-red-500': !selectedUser?.active}">
        {{ selectedUser?.active ? 'Actif' : 'Inactif' }}
      </span>
        </p>
      </div>

    </div>

    <!-- Edit Form -->
    <div *ngIf="isEditing" class="space-y-6">
      <div class="space-y-4">

        <!-- Full Name -->
        <label class="text-gray-700 font-semibold">Nom complet</label>
        <input type="text" [(ngModel)]="selectedUser!.fullName" class="w-full px-5 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-300 ease-in-out">

        <!-- Sexe -->
        <label class="text-gray-700 font-semibold">Sexe</label>
        <select [(ngModel)]="selectedUser!.gender" class="w-full px-5 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-300 ease-in-out">
          <option value="MALE">Homme</option>
          <option value="FEMALE">Femme</option>
        </select>

        <!-- Role -->
        <label class="text-gray-700 font-semibold">Rôle</label>
        <select [(ngModel)]="selectedUser!.role" class="w-full px-5 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-300 ease-in-out">
          <option value="ADMIN">Admin</option>
          <option value="CLIENT">Client</option>
          <option value="DELIVERY_MAN">Livreur</option>
          <option value="STOREKEEPER">Magasinier</option>
          <option value="STOREKEEPER_ASSISTANT">Sous-magasinier</option>
        </select>


        <!-- Username -->
        <label class="text-gray-700 font-semibold">Nom d'utilisateur</label>
        <input type="text" [(ngModel)]="selectedUser!.username" class="w-full px-5 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-300 ease-in-out">
        <div *ngIf="usernameTaken" class="text-red-500 text-sm">{{ errorMessage }}</div>


        <!-- Email -->
        <label class="text-gray-700 font-semibold">Email</label>
        <input type="email" [(ngModel)]="selectedUser!.email" (ngModelChange)="validateEmail(selectedUser!.email)"
               class="w-full px-5 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-300 ease-in-out">
        <div *ngIf="emailInvalid" class="text-red-500 text-sm">{{ errorMessage }}</div>
        <div *ngIf="emailTakenError" class="text-red-500 text-sm">{{ errorMessage }}</div>

        <!-- Phone Number -->
        <label class="text-gray-700 font-semibold">Numéro de téléphone</label>
        <input type="tel" [(ngModel)]="selectedUser!.phoneNumber" (ngModelChange)="validateGSM(selectedUser!.phoneNumber)"
               class="w-full px-5 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-300 ease-in-out">
        <div *ngIf="gsmInvalid" class="text-red-500 text-sm">{{ errorMessage }}</div>
        <div *ngIf="gsmTakenError" class="text-red-500 text-sm">{{ errorMessage }}</div>

        <!-- Ville -->
        <div class="col-span-1 relative mb-4">
          <select class="w-full px-4 pt-5 pb-2 border rounded-lg focus:ring-2 focus:ring-gray-600 transition peer"
                  name="city"
                  [(ngModel)]="selectedUser!.city"
                  required #city="ngModel">
            <option value="" disabled selected>Choisissez une ville</option>
            <option *ngFor="let city of cities" [value]="city">{{ city | titlecase }}</option>
          </select>
          <label class="absolute left-4 top-2 text-gray-500 text-sm peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 transition-all">
            Ville <span class="text-red-500">*</span>
          </label>
     </div>

        <!-- Adresse -->
        <div class="mb-4">
          <label class="block text-gray-700 font-medium mb-1">Adresse<span class="text-red-500">*</span></label>
          <textarea
                    [(ngModel)]="selectedUser!.address"
                    name="address"
                    required
                    #address="ngModel"
                    class="w-full py-2 px-3 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-700 bg-white text-gray-700">
</textarea>
        </div>

        <!-- Active Status -->
        <label class="text-gray-700 font-semibold">Statut actif</label>
        <div class="flex items-center">
          <input type="checkbox" [(ngModel)]="selectedUser!.active" class="mr-2 focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out">
          <span class="text-gray-700">{{ selectedUser!.active ? 'Actif' : 'Inactif' }}</span>
        </div>

        <!-- Image Upload -->
        <label class="text-gray-700 font-semibold">Image</label>
        <input type="file" (change)="onFileChange($event)"
               class="w-full px-5 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-300 ease-in-out">
        <div *ngIf="imageError" class="text-red-500 text-sm">{{ imageError }}</div>

        <!-- Action Buttons -->
        <div class="flex justify-end space-x-4">
          <button class="bg-gray-600 text-white px-6 py-3 rounded-lg hover:bg-gray-700 transition-all duration-300 ease-in-out"
                  (click)="isEditing = false">
            Annuler
          </button>
          <button class="bg-green-600 text-white px-6 py-3 rounded-lg hover:bg-green-700 transition-all duration-300 ease-in-out"
                  (click)="updateUser()"
                  [disabled]="emailInvalid || gsmInvalid">
            Sauvegarder
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
